<div class="auth-container">
  <div class="auth-card">
    <h2>Login</h2>

    <input [(ngModel)]="email" name="email" placeholder="Email" />
    <input
      [(ngModel)]="password"
      name="password"
      type="password"
      placeholder="Password"
      (keyup.enter)="login()"
    />

    <button (click)="login()" [disabled]="loading">
      {{ loading ? 'Logging in...' : 'Login' }}
    </button>

    <p>
      Don't have an account?
      <a routerLink="/register">Register</a>
    </p>
  </div>
</div>
